ale-py==0.8.1
array-record==0.4.1
astunparse==1.6.3
atari-py==0.2.9
AutoROM==0.6.1
charset-normalizer==3.3.2
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
h5py==3.10.0
keras==2.13.1
keras-rl2==1.0.4
matplotlib==3.9.0
numpy==1.23.5
Pillow==10.0.1
protobuf==3.20.3
pygame==2.6.0
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.15.0


